<div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <img [src]="product.image" class="img-fluid" alt="{{ product.title }}" />
      </div>
      <div class="col-md-6">
        <h2>{{ product.title }}</h2>
        <p class="text-muted">Categoría: {{ product.category }}</p>
        <h4>Precio: ${{ product.price }}</h4>
        <p>{{ product.description }}</p>
        <p class="card-text">Calificación: 
          <span *ngFor="let star of [].constructor(5); let i = index">
            <ng-container *ngIf="i < product.rating.rate; else emptyStar">
              ★
            </ng-container>
            <ng-template #emptyStar>☆</ng-template>
          </span>
          ({{ product.rating.count }} opiniones)
        </p>
        <button class="btn btn-secondary" (click)="goBack()">Volver a la lista</button>
      </div>
    </div>
  </div>
  