<div class="container mt-4">
    <h2 class="text-center">Lista de Productos</h2>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <div class="card">
          <img [src]="product.image" class="card-img-top" alt="{{ product.title }}" />
          <div class="card-body">
            <div class="box">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">Precio: ${{ product.price }}</p>
              <p class="card-text">Categoría: {{ product.category }}</p>
              <p class="card-text">Calificación: 
                <span *ngFor="let star of [].constructor(5); let i = index">
                  <ng-container *ngIf="i < product.rating.rate; else emptyStar">
                    ★
                  </ng-container>
                  <ng-template #emptyStar>☆</ng-template>
                </span>
                ({{ product.rating.count }} opiniones)
              </p>
            </div>
            <button class="btn btn-primary" (click)="viewDetails(product.id)">Ver Detalles</button>
          </div>
        </div>
      </div>
    </div>
  </div>