<div class="container mt-4">
    <h2 class="text-center">Lista de Productos</h2>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <div class="card">
          <img [src]="product.image" class="card-img-top" alt="{{ product.title }}" />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">Precio: ${{ product.price }}</p>
            <button class="btn btn-primary" (click)="viewDetails(product.id)">Ver Detalles</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  